rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Match all documents in the "groupChat" collection
    match /groupChat/{documentId} {
 			// Only allow users who are authenticated
      allow read: if request.auth != null;
    	// Allow writing only if the sender is the authenticated user
      allow write: if request.auth != null && request.resource.data.sender == request.auth.uid;

     	allow update: if request.auth != null && resource.data.sender == request.auth.uid;
      
      allow delete: if false;  // Disable deletion
    }

    // Match documents in the "users" collection
    match /users/{userId} {
      // Allow all authenticated users to read only
      allow read: if request.auth != null ;
      
      allow write: if request.auth != null && request.auth.uid == userId;
      
      allow update: if request.auth != null && request.auth.uid == userId;
      
      allow delete: if false;  // Disable deletion
    }
  }
}
